* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    color: #ffffff;
    font-family: 'young serif', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Cabeçalho */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 5px 0;
    gap: 20px;
}

.header__title {
    font-family: 'young serif', serif;
    font-size: 28px;
}

.header__nav i {
    font-size: 24px;
    margin: 0 15px;
    justify-content: space-around;
    align-items: center;

}

/* Seção "Sobre" */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.about__box {
    max-width: 100%;
    text-align: center;
}

.about__subtitle {
    font-size: 28px;
    margin-bottom: 15px;
}

.about__title {
    font-size: 36px;
    margin-bottom: 20px;
}

.about__highlight {
    color: #fff;
    border-bottom: 5px solid #5fdde5;
}

.about__description {
    margin-bottom: 20px;
}

.about__cta {
    padding: 10px 20px;
    background-color: transparent;
    border-bottom: 5px solid #5fdde5;
    color: #fff;
    font-weight: bold;
}

.about__image {
    width: 70%;
    height: auto;
    order: -1;
    margin: 0 0 20px;
}

/* Linha divisória */
hr {
    margin: 40px 0;
    margin: 30px 5%;

}

/* Seção "Linguagens" */
.languages {
    text-align: left;
    margin: 40px 70px;

}

.languages__title {
    display: inline-block;
    justify-content: left;
    font-size: 28px;
    border-bottom: 5px solid #5fdde5;
    margin-bottom: 20px;
}

.languages__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.languages__item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.languages__icon {
    font-size: 28px;
    margin-right: 15px;
}

.languages__name {
    font-size: 20px;
    margin-bottom: 5px;
}

.languages__level {
    font-size: 16px;
    color: #aaa;
}

/* Seção "Projetos" */
.projects {
    text-align: left;
    margin: 40px 20px;
}

.projects__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.projects__title {
    font-size: 28px;
    margin: 0;
    display: inline-block;
    border-bottom: 5px solid #5fdde5;
}

.projects__cta {
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 5px solid #5fdde5;
    padding: 15px;
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
}

.projects_item {
    padding: 20px;
    text-align: left;

}

.projects__image {
    width: 100%;
    margin-bottom: 15px;
}

.projects__name {
    font-size: 20px;
    margin-bottom: 10px;
}

.projects__tech {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px;
}

.projects__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects__link {
    margin: 10px 5px 0;
    padding: 8px 15px;
    color: #fff;
    border-bottom: 5px solid #5fdde5;
}

/* Seção Contato */
.contact {
    background-color: #444444;
    padding: 35px 20px 30%;
    text-align: center;
    color: #fff;

}

.contact__title {
    font-size: 28px;
    margin-bottom: 15px;
    display: inline-block;
    border-bottom: 5px solid #5fdde5
}

.contact__description {
    color: #aaa;
    margin-bottom: 30px;
}

.contact__input {
    width: 95%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    font-size: 16px;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__submit {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    color: #fff;
    border-bottom: 5px solid #5fdde5;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Rodapé */
.footer {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    color: #fff;
}

.footer__nav {
    margin: 10px;
}

.footer__credits {
    margin-top: 15px;
    font-size: 14px;
    color: #aaa;
}

@media (min-width: 1020px) {

    .header,
    .about,
    .languages,
    .projects,
    .contact-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 25px;
        align-items: center;
    }

    .header__title {
        font-size: 30px;
    }

    .header__nav i {
        font-size: 20px;

    }

    .header__nav {
        z-index: 10;
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        text-align: left;
        position: relative;
    }

    .about__subtitle {
        font-size: 40px;
    }

    .about__title {
        font-size: 45px;
    }

    .about__image {
        width: 40%;
        height: auto;
        position: relative;
        top: -121px;
    }

    .about__box {
        text-align: left;
    }

    .languages__container {
        justify-content: space-between;
    }

    .languages__name,
    .languages__level {
        font-size: 1.5rem;
    }

    .projects__container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .projects_item {
        flex: 1 1 45%;
        padding: 20px;
        text-align: center;
    }

    .projects__tech {
        font-size: 20px;
        color: #c5c5c5;
    }

    .projects__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: 15px;
    }

    .projects__links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contact-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px 0;
    }

    .contact {
        text-align: left;
        color: #fff;
        padding: 35px 20px;
    }

    .contact__form {
        width: 40%; 
        display: flex;
        flex-direction: column
    }

    .contact {
        text-align: left; 
        color: #fff;
        padding: 35px 20px;
        flex: 1; 
    }

    .contact__container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 20px;
        flex-wrap: wrap;
    }    

    .contact__title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .contact__description {
        font-size: 16px;
        line-height: 1.6;
        color: #acacac;
        margin-bottom: 30px;
    }

    .contact__input, .contact__submit {
        width: 100%; 
    }

    .contact__submit {
        align-self: flex-end;
        width: auto;
        display: inline-block; 
    }

    .footer {
        display: flex;
        justify-content: space-around;
    
    }

}