* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    color: #ffffff;
    font-family: 'young serif', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Cabeçalho */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 5px 0;
    gap: 20px;
}

.header__title {
    font-family: 'young serif', serif;
    font-size: 28px;
}

.header__nav i {
    font-size: 24px;
    margin: 0 15px;
    justify-content: space-around;
    align-items: center;

}

/* Seção "Sobre" */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.about__box {
    max-width: 100%;
    text-align: center;
}

.about__subtitle {
    font-size: 28px;
    margin-bottom: 15px;
}

.about__title {
    font-size: 36px;
    margin-bottom: 20px;
}

.about__highlight {
    color: #fff;
    border-bottom: 5px solid #5fdde5;
}

.about__description {
    margin-bottom: 20px;
}

.about__cta {
    padding: 10px 20px;
    background-color: transparent;
    border-bottom: 5px solid #5fdde5;
    color: #fff;
    font-weight: bold;
}

.about__image {
    width: 70%;
    height: auto;
    order: -1;
    margin: 0 0 20px;
}

/* Linha divisória */
hr {
    margin: 40px 0;
    margin: 30px 5%;

}

/* Seção "Linguagens" */
.languages {
    text-align: left;
    margin: 40px 70px;

}

.languages__title {
    display: inline-block;
    justify-content: left;
    font-size: 28px;
    border-bottom: 5px solid #5fdde5;
    margin-bottom: 20px;
}

.languages__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.languages__item {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.languages__icon {
    font-size: 28px;
    margin-right: 15px;
}

.languages__name {
    font-size: 20px;
    margin-bottom: 5px;
}

.languages__level {
    font-size: 16px;
    color: #aaa;
}

/* Seção "Projetos" */
.projects {
    text-align: left;
    margin: 40px 20px;
}

.projects__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.projects__title {
    font-size: 28px;
    margin: 0;
    display: inline-block;
    border-bottom: 5px solid #5fdde5;
}

.projects__cta {
    font-size: 15px;
    display: inline-block;
    border-bottom: 5px solid #5fdde5;
}

.projects__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.projects_item {
    padding: 20px;
    text-align: left;
    max-width: 300px;
}

.projects__image {
    width: 100%;
    margin-bottom: 15px;
}

.projects__name {
    font-size: 20px;
    margin-bottom: 10px;
}

.projects__tech {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px;
}

.projects__links {
    display: flex; 
    gap: 10px; 
    text-align: center;
    justify-content: center; 
    margin-top: 20px; 
}

.projects__link {
    display: inline-block;
    justify-content: center;
    margin: 10px 5px 0;
    padding: 8px 15px;
    color: #fff;
    border-bottom: 5px solid #5fdde5;
}

/* Seção Contato */
.contact {
    display: inline-block;
    background-color: #444444;
    padding: 35px 20px 30%;
    text-align: center;
    color: #fff;

}

.contact__title {
    font-size: 28px;
    margin-bottom: 15px;
    display: inline-block;
    border-bottom: 5px solid #5fdde5
}

.contact__description {
    color: #aaa;
    margin-bottom: 30px;
}

.contact__input {
    width: 95%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    font-size: 16px;
}

.contact__form {
    display: flex;
    flex-direction: column;
}

.contact__submit {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    color: #fff;
    border-bottom: 5px solid #5fdde5;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Rodapé */
.footer {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    color: #fff;
}

.footer__nav {
    margin: 10px;
}

.footer__credits {
    margin-top: 15px;
    font-size: 14px;
    color: #aaa;
}